.add-student {
    background: white;
    width: 50vw;
    margin: 10em auto;
    border-radius: 15px;
    padding: 20px 10px;
    color: white;
    border: 3px solid rgb(36, 110, 194);
    text-align: center;
  }